<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Help</title>
    </head>
    <body>
        <p>Type pinyin and then select the character you want from the options one at a time.</p>

            <p>Enter selects an option.</p>
            <p>Tab, shift tab and the left right arrows navigate the options. </p>
            <p>Use backspace to undo character selections. </p>
            <p>Lower case only</p>

            <p>1,2,3,4, 5 can be used for the tones. 5 is neutral tone. </p>

            <p>'w', 'wo' and 'wo3' can all be used to search for ‘我‘ (I or me). </p>

            <p>eg - This is the character I'm looking for.</p>
            <p>zhe4 ge4 shi4 wo3 zhao3 de5 han4 zi4</p>
            <p>這個是我找的漢字</p>
        </p>
    </body>
</html>
